@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - programmeringmed.NetProjekt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/programmeringmed.NetProjekt.styles.css" asp-append-version="true" />
</head>

<body>
    <div>
        <nav class="desktop">
            <a class="" asp-area="" asp-controller="Home" asp-action="Index"> <img class="logo"
                    src="/Images/logo2.svg" alt=""> </a>
            @if (SignInManager.IsSignedIn(User))
            {

                <ul>

                    <li>
                        <img src="/Images/homev.png" alt="">
                        <a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <img src="/Images/activityv.png" alt="">
                        <a class="" asp-area="" asp-controller="Workout" asp-action="Index">Activity</a>
                    </li>
                    <li>
                        <img src="/Images/plusv.png" alt="">
                        <a class="" asp-area="" asp-controller="Workout" asp-action="Create">Add Data</a>
                    </li>
                    <li>
                        <img src="/Images/graphv.png" alt="">
                        <a class="" asp-area="" asp-controller="Workout" asp-action="Index">Dashboard</a>
                    </li>
                    <li>
                        <img src="/Images/userv.png" alt="">
                        <a class="" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
                    </li>
                </ul>
            }
            else
            {
                <!-- Användaren är utloggad -->
                <ul>
                    <li>
                        <img src="/Images/settingsv.png" alt="">
                        <a class="" asp-controller="Exercise" asp-action="ExerciseShow">Exercises</a>
                    </li>
                    <li class="">
                        <a class="" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                    <li class="">
                        <a class="" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                </ul>
            }





        </nav>
        <header>
            <nav class="mobile">
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul>
                        <li>
                            <img src="/Images/home.png" alt="">
                            <a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <img src="/Images/activity.png" alt="">
                            <a class="" asp-area="" asp-controller="Workout" asp-action="Index">Activity</a>
                        </li>
                        <li>
                            <img src="/Images/plus.png" alt="">
                            <a class="" asp-area="" asp-controller="Workout" asp-action="Create">Add Data</a>
                        </li>
                        <li>
                            <img src="/Images/graph.png" alt="">
                            <a class="" asp-area="" asp-controller="Workout" asp-action="Index">Dashboard</a>
                        </li>
                        <li>
                            <img src="/Images/user.png" alt="">
                            <a class="" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul>
                        <li>
                            <img src="/Images/user.png" alt="">
                            <a class="" asp-controller="Exercise" asp-action="Index">Exercises</a>
                        </li>
                            <partial name="_LoginPartial" />

                    </ul>
                }





            </nav>

        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer>
        <ul>

            <li>

                <a class="" asp-area="" asp-controller="BodyPart" asp-action="Index">BodyPart</a>
            </li>
            <li>

                <a class="" asp-area="" asp-controller="ConditionForm" asp-action="Index">ConditionForm</a>
            </li>
            <li>

                <a class="" asp-area="" asp-controller="Condition" asp-action="Index">Condition</a>
            </li>
            <li>

                <a class="" asp-area="" asp-controller="ConditionType" asp-action="Index">ConditionType</a>
            </li>
            <li>

                <a class="" asp-area="" asp-controller="Discipline" asp-action="Index">Discipline</a>
            </li>
            <li>

                <a class="" asp-area="" asp-controller="ExerciseForm" asp-action="Index">ExerciseForm</a>
            </li>
            <li>
                <a class="" asp-area="" asp-controller="Exercise" asp-action="Index">Exercise</a>
            </li>
            <li>
                <a class="" asp-area="" asp-controller="Method" asp-action="Index">Method</a>
            </li>
            <li>
                <a class="" asp-area="" asp-controller="Organization" asp-action="Index">Organization</a>
            </li>
            <li>
                <a class="" asp-area="" asp-controller="SkiingFocus" asp-action="Index">SkiingFocus</a>
            </li>
            <li>
                <a class="" asp-area="" asp-controller="Skiing" asp-action="Index">Skiing</a>
            </li>
            <li>
                <a class="" asp-area="" asp-controller="WorkoutExercise" asp-action="Index">WorkoutExercise</a>
            </li>
            <li>
                <a class="" asp-area="" asp-controller="Workout" asp-action="Index">Workout</a>
            </li>
            <li>
                <partial name="_LoginPartial" />
            </li>


        </ul>

        <p class="center">&copy; Copyright 2024 - Design Edwin Lundbäck</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
