@model programmeringmed.NetProjekt.Models.WorkoutModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WorkoutModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="createWorkoutForm" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Datum för träningspass:</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkoutName" class="control-label">Namn på träningspass:</label>
                <input asp-for="WorkoutName" class="form-control" />
                <span asp-validation-for="WorkoutName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Beskrivning av träningspass:</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExerciseFormId" class="control-label">Typ av träning:</label>
                <select id="exerciseFormId" class="form-control" asp-for="ExerciseFormId"
                    asp-items="ViewBag.ExerciseFormId"></select>
            </div>
            <div id="bodyPartDiv" class="form-group" style="display: none;">
                <label asp-for="BodyPartId" class="control-label">Vilken kroppsdel:</label>
                <select asp-for="BodyPartId" class="form-control" asp-items="ViewBag.BodyPartId">

                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var exerciseFormId = document.getElementById("exerciseFormId");
            var bodyPartDiv = document.getElementById("bodyPartDiv");

            exerciseFormId.addEventListener("change", function () {
                var selectedValue = exerciseFormId.value;
                if (selectedValue === "1") { // Assuming "1" corresponds to "Kondition"
                    bodyPartDiv.style.display = "none";
                    document.getElementById("BodyPartId").value = null;
                } else if (selectedValue === "2") { // Assuming "2" corresponds to "Styrka"
                    bodyPartDiv.style.display = "block";
                }
            });
        });
    </script>
}
