@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <div class="text">
        <h1 class="center">Welcome to FitTrackr<img style="width: 60px;" src="/Images/logoo.svg" alt="Startbild"></h1>
        <h5 class="center">Keeping track of your training</h5>
        <p class="center mt-3">
            FitTrackr, a versatile workout diary offering exercise logging, detailed stats, and a varied library. It enables efficient fitness tracking and tailored workouts.
        </p>
    </div>
      
    <div class="startimg">
        <img src="/Images/32057.jpg" alt="Startbild">
    </div>
</div>

<div class="homebox mb-5">
    <a class="cubeStart" asp-controller="Exercise" asp-action="ExerciseShow">
        <p class="">Exercises</p>
    </a>
    <a class="cubeStart" asp-area="Identity" asp-page="/Account/Register">
        <p class="">Register</p>
    </a>
    <a class="cubeStart" asp-area="Identity" asp-page="/Account/Login">
        <p class="">Log in</p>
    </a>
</div>

