@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="w">
    <h1>@ViewData["Title"]</h1>
    <hr>
    <div class="row">
        <div class="col-md-7 mx-auto">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Create a new account.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                        placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="" />
                    <label asp-for="Input.FirstName">FirstName</label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="" />
                    <label asp-for="Input.LastName">Lastname</label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Age" class="form-control" aria-required="true" placeholder="" min="1"
                        max="100" />
                    <label asp-for="Input.Age">Age</label>
                    <span asp-validation-for="Input.Age" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="Input.Gender" class="form-control" aria-required="true">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    <label asp-for="Input.Gender">Gender</label>
                    <span asp-validation-for="Input.Gender" class="text-danger"></span>
                </div>

                @if (User.IsInRole("Admin"))
                {
                    <!-- Visa adminfältet endast om användaren är inloggad och är admin -->
                    <div class="form-floating mb-3">
                        <input asp-for="Input.IsAdmin" class="form-check-input" type="checkbox" />
                        <label asp-for="Input.IsAdmin" class="form-check-label">Admin</label>
                        <span asp-validation-for="Input.IsAdmin" class="text-danger"></span>
                    </div>
                }

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password"
                        aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                        aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
