:root {
    --primary: #1d2530;
    --accent: #93B1A6;
    --secondary: #203d5c;
    --third: #4caf50;
}


/* Återställ standardinställningar */

partial {
    color: white;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    margin-left: 1.5em;
    width: 200px;
}

.logo:hover {
    opacity: 0.8;
}

a:hover {
    color: var(--accent);
}

body {
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: var(--primary);
    color: rgb(227, 227, 227);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.meny {
    display: flex;
    flex-direction: column-reverse;
}

header {
    position: fixed;
    /* Gör headern fast på skärmen */
    bottom: 0;
    /* Placera headern längst ner */
    width: 100%;
    /* Bredden på headern ska vara 100% av förälderelementet */
    z-index: 999;
    /* Sätt ett högt z-index för att headern ska ligga över innehållet */
}

.desktop {
    padding: 1em;
    display: flex;
    flex-direction: row;
    background-color: var(--secondary);
    justify-content: space-between;
}

.desktop ul {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.desktop ul li {
    list-style: none;
}

.desktop ul li a {
    text-decoration: none;
    color: white;
}

.desktop ul li a:hover {
    color: var(--accent);
}

.desktop ul li img {
    margin-bottom: 3px;
}

.mobile {
    background-color: var(--accent);
    width: 100%;
}

.mobile ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile ul li {
    display: flex;
    flex-direction: column;
    padding: 1em 0 1em 0;
    color: white;
    width: 100px;
}

.mobile ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.mobile ul li img {
    width: 20px;
    margin-inline: auto;
}

.mobile ul li a:active {
    text-decoration: underline;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .desktop {
        display: flex;
    }
    .mobile {
        display: none;
    }
}

.divinput {
    background-color: var(--secondary);
    padding: 1em;
    border-radius: 8px;
}

.divinput h1 {
    border-bottom: 2px solid var(--primary);
}

form {
    display: block;
    margin-inline: auto;
}

input[type=text],
input[type=number],
.form-group select,
.form-group input[type="text"],
.form-group input[type=url] {
    background-color: var(--primary);
    border: 1px solid var(--accent);
    color: white;
}

input[type=submit] {
    width: 100%;
    margin-top: 1em;
    background-color: var(--third);
    padding: 0.5em;
    border: #1d2530;
}

input[type=email],
input[type=password],
.form-control:disabled,
.form-control {
    background-color: var(--primary);
    border: 1px solid var(--accent);
    color: white;
}


/* Apply hover effect to email and password fields */

input[type=email]:hover,
input[type=password]:hover {
    opacity: 0.7;
}

input[type=submit]:hover {
    background-color: var(--third);
    opacity: 0.7;
}

.form-group {
    margin-bottom: 1em;
}

.form-control:focus,
.form-check-input:focus {
    outline: none;
    /* Ta bort den blå ramen som visas som standard i vissa webbläsare */
    border-color: var(--accent);
    background-color: var(--primary);
    color: white;
    /* Ändra färgen på fokusramen */
    box-shadow: var(--accent);
    /* Ta bort eventuell skugga som tidigare har lagts till */
}

input[type=text]:hover,
input[type=number]:hover,
.form-group input[type=url]:hover,
.form-group select:hover,
.form-group input[type="text"]:hover {
    opacity: 0.7;
    /* Ändra bakgrundsfärgen när musen hovrar över fältet */
}


/* Apply the same styles to textarea as input fields */

textarea {
    background-color: var(--primary);
    border: 1px solid var(--accent);
    color: white;
}


/* Apply hover effect to textarea */

textarea:hover {
    opacity: 0.7;
}

.container {
    padding: 1em;
    margin: 4em;
    width: 92%;
    min-height: 90vh;
    margin-inline: auto;
}

@media screen and (min-width: 768px) {
    .container {
        margin: 1.5em;
        margin-inline: auto;
    }
}


/* CSS för modal */

.modal {
    display: none;
    /* Dölj modalfönstret som standard */
    position: fixed;
    /* Ställ in positionen */
    z-index: 1;
    /* Lägg modalfönstret över allt annat innehåll */
    left: 0;
    top: 0;
    width: 100%;
    /* Full bredd */
    height: 100%;
    /* Full höjd */
    overflow: auto;
    /* Aktivera rullningsfält om innehållet är för högt */
    background-color: rgb(0, 0, 0);
    /* Fallback-färg */
    background-color: rgba(0, 0, 0, 0.4);
    /* Svart färg med 40% opacitet */
    padding-top: 60px;
}


/* Modalinnehåll */

.modal-content {
    background-color: var(--secondary);
    margin: 5% auto;
    /* 5% från toppen och centrerat */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    /* Ställ in bredden på modalfönstret */
}


/* Modalinnehåll för mobila enheter */

@media screen and (max-width: 700px) {
    .modal-content {
        width: 90%;
        /* Sätt bredden till 90% på mobila enheter */
    }
}


/* Modalinnehåll för iPad och desktop */

@media screen and (min-width: 700px) {
    .modal-content {
        background-color: var(--secondary);
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 35%;
        /* Behåll bredden till 30% på iPad och desktop */
    }
    .modal-content h2 {
        text-align: center;
    }
}


/* Stängknappen */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--third);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--third);
    cursor: pointer;
}

.Minmax {
    display: flex;
    justify-content: space-between;
    color: var(--accent);
}

th,
td {
    color: white;
}

.center {
    text-align: center;
}

footer {
    display: hidden;
}

@media screen and (min-widht: 768) {
    footer {
        display: block;
    }
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.createBtn {
    background-color: var(--third);
    border-radius: 5px;
    padding: 0.5em;
    width: 100%;
}

.LogOutBtn {
    background-color: var(--accent);
    border-radius: 5px;
    padding: 0.5em;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.LogOutBtn:hover {
    opacity: 0.7;
}

.createBtn:hover {
    opacity: 0.7;
}

.mark-completed-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.detailsBtn {
    margin-right: 1.5em;
}

.deletedetails {
    text-align: right;
}

.w {
    width: 70%;
    margin-inline: auto;
}

.deleteBtn {
    max-width: 300px;
}

.rotated-image {
    transform: rotate(180deg);
}

.detend {
    display: flex;
    flex-direction: row;
}

.iframe {
    display: none;
}

@media screen and (min-width: 768px) {
    .iframe {
        display: block;
    }
}