@model programmeringmed.NetProjekt.Models.ConditionModel

@{
    ViewData["Title"] = "Create";
}
<div class="w">



    <h1>Create condition session</h1>
    <hr />
    <div class="row">
        <div class="col-md-6 mx-auto mt-4">
            <form asp-action="Create" class="divinput">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ConditionFormId" class="control-label">Type of Training</label>
                    <select asp-for="ConditionFormId" class="form-control" asp-items="ViewBag.ConditionFormId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ConditionTypeId" class="control-label">Intensity</label>
                    <select asp-for="ConditionTypeId" class="form-control" asp-items="ViewBag.ConditionTypeId"></select>
                </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            <div class="mt-2 d-flex align-items-center">
                <a asp-action="Index" class="d-flex align-items-center">
                <img class="mx-2" src="/Images/arrow.png" alt="">
                <span>Go Back</span>
            </a>
        </div>
        </div>
    </div>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
