@model programmeringmed.NetProjekt.Models.ExerciseModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ExerciseModel</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form asp-action="Create" class="divinput">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ExerciseName" class="control-label">Exercise Name</label>
                    <input asp-for="ExerciseName" class="form-control" />
                    <span asp-validation-for="ExerciseName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description</label>
                    <textarea rows="4" asp-for="Description"
                        style="background-color: #1d2530; border: 1px solid #93B1A6;" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VideoUrl" class="control-label">Video Url</label>
                    <input asp-for="VideoUrl" class="form-control" />
                    <span asp-validation-for="VideoUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BodyPartId" class="control-label">Body Part</label>
                    <select asp-for="BodyPartId" class="form-control" asp-items="ViewBag.BodyPartId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
