@model IEnumerable<programmeringmed.NetProjekt.Models.ExerciseModel>

@{
    ViewData["Title"] = "ExerciseShow";
}

<div class="w">
    <div class="flexsearch">
        <h1>Exercises</h1>
        <div class="search-form">
        <form asp-controller="Exercise" asp-action="ExerciseShow" method="get" class="searchdiv">
            <div class="form-group search">
                <input type="text" name="search" class="form-control" placeholder="Search by name or body part">
                <button type="submit" class="btn searchbtn">Search</button>
            </div>
        </form>
    </div>
    </div>

    <hr>




   

    <div class="exercises mt-5">
        @foreach (var item in Model)
        {
            <div class="card">
                @if (!string.IsNullOrEmpty(item.VideoUrl))
                {
                    <iframe src="@item.VideoUrl" frameborder="0" allowfullscreen></iframe>
                }
                else
                {
                    <p>No video available</p>
                }

                <a asp-action="Details" asp-route-id="@item.Id">
                    <h2>@Html.DisplayFor(modelItem => item.ExerciseName)</h2>
                    <p>Primary bodypart: @Html.DisplayFor(modelItem => item.BodyPart.BodyPart)</p>
                </a>
            </div>
        }
    </div>
</div>
