@model programmeringmed.NetProjekt.Models.WorkoutExerciseModel

@{
    ViewData["Title"] = "Delete";
}
<div class="w">
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>


    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            Exercise Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exercise.ExerciseName)
        </dd>
    </dl>
    
    <!-- Länk för att radera -->
    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-danger"
                onclick="return confirm('Är du säker på att du vill radera denna övning?');">
            Radera
        </button>
        <a asp-action="ListByWorkoutId" asp-route-workoutId="@Model.WorkoutId">Avbryt</a>
    </form>

</div>
